name: "cryptobank-webapi"

services:
  web_api:
    image: ghcr.io/bastonta/cryptobank/webapi:latest
    restart: always
    environment:
      ConnectionStrings__DefaultConnection: Host={{ database_ip }};Database=cryptobank;Username={{ postgres_user }};Password={{ postgres_password }};Maximum Pool Size=50;Connection Idle Lifetime=60;
    ports:
    - "80:8080"
